.scrollbar {
	&,
	&:hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}

	&[data-orientation='vertical'] .thumb {
		background-color: var(--mantine-color-red-6);
	}

	&[data-orientation='horizontal'] .thumb {
		background-color: #6740d9;
	}
}

.firstPlaceNumber {
	position: relative;
	&::after {
		position: absolute;
		content: '🏆';
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	}
}
.secondPlaceNumber {
	position: relative;
	&::after {
		position: absolute;
		content: '🥈';
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 22px;
	}
}
.thirdPlaceNumber {
	position: relative;
	&::after {
		position: absolute;
		content: '🥉';
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 22px;
	}
}
.AdminPlaceNumber {
	position: relative;
	&::after {
		position: absolute;
		// content: '👑';
		content: '';
		left: 12px;
		top: 40%;
		transform: translateY(-50%);
		font-size: 19px;
	}
}

.flex_user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	.photo {
		width: 100%;
		max-width: 27px;
		height: auto;
		border-radius: 50%;
		color: #161616;
	}

	.firstPlaceName {
		font-weight: 700;
		// text-shadow: 0px 0px 10px #ffc930;
		color: #ffc930;
	}

	.secondPlaceName {
		font-weight: 700;
		// text-shadow: 0px 0px 10px #cccccc;
		color: #cccccc;
	}

	.thirdPlaceName {
		font-weight: 700;
		// text-shadow: 0px 0px 10px #eb680b;
		color: #eb680b;
	}

	.AdminPlaceName {
		font-weight: 700;
		// text-shadow: 0px 0px 25px #6740d9;
		// color: #6740d9;

		background: var(
			--2,
			linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.RatingUsers {
	padding-top: 10px;
	.content {
		.title {
			margin-bottom: 30px;
			text-align: center;
			font-size: 30px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			border-radius: 896px;
			background: radial-gradient(
				40.17% 39.79% at 50% 50%,
				rgba(170, 20, 240, 0.28) 0%,
				rgba(170, 20, 240, 0) 100%
			);

			@media (max-width: 767px) {
				font-size: 24px;
			}

			span {
				background: var(
					--2,
					linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
