.flex_user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	.photo {
		width: 100%;
		max-width: 25px;
		height: auto;
		border-radius: 50%;
		color: #161616;
	}
}

.RatingUsers {
	padding-top: 10px;
	.content {
		.title {
			margin-bottom: 30px;
			text-align: center;
			font-size: 30px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			border-radius: 896px;
			background: radial-gradient(
				40.17% 39.79% at 50% 50%,
				rgba(170, 20, 240, 0.28) 0%,
				rgba(170, 20, 240, 0) 100%
			);

			span {
				background: var(
					--2,
					linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}
