.CreateCrud {
	padding-bottom: 30px;
	.content {
		.title {
			margin-bottom: 10px;
			font-size: 30px;
			text-align: center;
		}
		.create_url {
			display: flex;
			justify-content: center;
			align-items: center;

			.url {
				padding: 4.5px 10px;
				background: #2e2e2e;
				border-radius: 5px;
				border: 1px solid #424242;
				color: #c9c9c9;

				cursor: default;

				@media (max-width: 900px) {
					display: none;
				}
			}

			.resource_input {
				// ! just minor fix bug
				span {
					text-align: center;
				}
				@media (max-width: 900px) {
					width: 100%;
				}
			}

			.button {
				width: 100%;
				max-width: 112px;
				.icon {
					margin-right: 5px;
					$icon_size: 18px;
					width: $icon_size;
					height: $icon_size;
				}
			}
		}
	}
}
