.RenderUserCrud {
	.container {
		width: 100%;
		max-width: 1100px;
		margin-inline: auto;
		padding-inline: 20px;
		.content {
			.title {
				margin-bottom: 10px;
				font-size: 20px;
			}
			.cruds_block {
				display: flex;
				flex-direction: column;
				gap: 12px;
				.crud {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.number_url {
						display: flex;
						align-items: center;
						gap: 7px;
						.number {
							padding: 4.5px 10px;
							//background: #2e2e2e;
							background: -webkit-linear-gradient(-70deg, #6740d9, #996ef8);
							border-radius: 5px;
							border: 1px solid #424242;
							font-weight: 600;
							color: #c9c9c9;

							cursor: default;
						}
						.url {
							padding: 4.5px 10px;
							background: #2e2e2e;
							border-radius: 5px;
							border: 1px solid #424242;
							color: #c9c9c9;

							cursor: default;
						}
					}

					.buttons {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 7px;
						.button {
							width: 100vh;
							max-width: 110px;
							.icon {
								margin-right: 5px;
								$icon_size: 18px;
								width: $icon_size;
								height: $icon_size;
							}
							.loading {
								margin-right: 4px;
							}
						}
					}
				}
			}
		}
	}
}
